.activity-indicator {
	width: 100%;
	height: 100%;
	min-height: 50px;
	position: relative;
}
.activity-indicator * {
	box-sizing: border-box
}

.activity-indicator > div {
	left: 50%;
	top: 50%;
	width: auto;
	display: inline-block;
	position: absolute;
	transform: translate(-50%, -50%);
}

.activity-indicator > div > div {
	transition-duration: 0.4s;
}\